<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/todas.css">        
        <font color="white">     
    </head>
        <body>
            <h1>Tabla de Registros</h1>
        
            <!-- Tabla que muestra los registros -->
            <table>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>Emigración de Hombres</th>
                    <th>Emigración de Mujeres</th>
                    <th>Total Emigración</th>
                    <th>Acciones</th>
                </tr>
                {% for record in result %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                    <td>
                        <form method="post" action="/ver_tabla">
                            <input type="hidden" name="id_to_modify" value="{{ record[0] }}">
                            <input type="text" name="new_year" placeholder="Nuevo Año">
                            <input type="text" name="new_emigration_men" placeholder="Nueva Emigración de Hombres">
                            <input type="text" name="new_emigration_women" placeholder="Nueva Emigración de Mujeres">
                            <input type="text" name="new_total_emigration" placeholder="Nuevo Total Emigración">
                            <input type="hidden" name="action" value="modificar">
                            <button type="submit">Modificar</button>
                        </form>
                        <form method="post" action="/ver_tabla">
                            <input type="hidden" name="id_to_delete" value="{{ record[0] }}">
                            <input type="hidden" name="action" value="eliminar">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        
            <!-- Formulario para agregar nuevos registros -->
            <h2>Agregar Nuevo Registro</h2>
            <form method="post" action="/ver_tabla">
                <input type="text" name="year" placeholder="Año">
                <input type="text" name="emigration_men" placeholder="Emigración de Hombres">
                <input type="text" name="emigration_women" placeholder="Emigración de Mujeres">
                <input type="text" name="total_emigration" placeholder="Total Emigración">
                <input type="hidden" name="action" value="agregar">
                <button type="submit">Agregar</button>
            </form>
        </font>
        </body>
        </html>
        