<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='todas.css') }}">
<font color="white">
    <title>Resultados de la Consulta</title>
</head>
<body>
    <h1>Resultados de la Consulta</h1>
    <table>
        <tr>
            <th>ID </th>
            <th>Año </th>
            <th>Inmigración Hombres </th>
            <th>Inmigración Mujeres </th>
            <th>Inmigración Total </th>
        </tr>
        {% for row in result %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</font>    
</body>
</html>
